<div class="container text-center my-5">
  <h1>Règlement effectué</h1>
  <!-- shows users a success message -->
  <!-- Cette VIEW s’affiche si le paiement est réussi. -->
  <h2>
    Merci <%= @user_hash['user'].first_name %> <%= @user_hash['user'].last_name %> pour votre achat de <strong><%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></strong> !
  </h2>
  <p>Le statut de votre paiement est : <%= @payment_intent.status %>.</p>
  <p>Un email vous a été envoyé à <%= @user_hash['user'].email %> avec le récapitulatif de votre commande.</p>
</div>
