<style type="text/css">
  table {
    margin:auto;
  }
  table,
  td {
    border: 1px solid #333;
  }

  thead,
  tfoot {
    background-color: #333;
    color: #fff;
  }
</style>

<% if !@event_hash['event'].nil? %>
  <h1>Voici la page de l'événement n°<%= @event_hash['index'] %></h1>
  <BR>
  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <BR>
  <div>
    <p>Son titre : <%= @event_hash['event'].title %></p>
    <p>Sa description : <p class="content"><%= @event_hash['event'].description %></p></p>
    <p>Le nombre de participants inscrits : <%= @event_hash['event'].attendings.length %></p>
    <p class="author">Son créateur : <em><%= link_to "#{@event_hash['event'].admin.first_name} #{@event_hash['event'].admin.last_name} (email : #{@event_hash['event'].admin.email})", user_path(@event_hash['event'].admin.id) %></em></p>
    <p>La date de début de l'événement : <%= @event_hash['event'].start_date %></p>
    <p>La date de fin de l'événement : <%= @event_hash['event'].get_end_date %></p>
    <p>La date de création de l'événement : <%= @event_hash['event'].created_at %></p>
    <p>La date de dernière modification de l'événement : <%= @event_hash['event'].updated_at %></p>
    <p>Le lieu de l'événement : <%= @event_hash['event'].location %></p>
    <p>Son prix : <%= @event_hash['event'].price %></p>
    <br />
    <div class="attendings">
      <p>Il y a <%= nb_attendings = @event_hash['event'].attendings.count %> participant(s) inscrit(s) à cet événement.</p><br />
      <% if nb_attendings > 0 %>
        <% if nb_attendings > 1 %>
          <p>Les <%= nb_attendings %> participants inscrits à cet événement sont :</p>
        <% else %>
          <p>Le seul participant inscrit à cet événement est :</p>
        <% end %>
        <table>
          <caption>Liste des participants inscrits à cet événement</caption>
          <thead>
            <tr>
              <th>Participant</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <% @event_hash['event'].attendings.each do |attending| %>
              <tr>
                <td class="author"><em><%= link_to "#{attending.first_name} #{attending.last_name}", user_path(attending.id) %></em></td>
                <td><%= attending.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br />
      <% end %>
    </div>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">
    <p>aucun événement de n°<%= @event_hash['index'] %> n'existe dans la base!</p>
  </div>
<% end %>
