<% if !@event_hash['event'].nil? %>
  <h1>Prix d'une participation à l'événement n°<%= @event_hash['index'] %></h1>
  <BR>
  <% if flash[:error].present? %>
    <!-- place to report any server-side error that may occur -->
    <!-- Si le flash contient une ou plusieurs erreurs, ce code les affiche sur l’écran de l’utilisateur. -->
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <BR>
  <div>
    <label class="amount"> <!-- affichage du montant du paiement en € -->
      <span>Montant à régler : <%= number_to_currency(@event_hash['event'].price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></span>
    </label>
    <p>Clé publique = "<%= Rails.configuration.stripe[:stripe_publishable_key] %>"</p>
    <p>data-description="Achat d'une participation à l'événement"</p>
    <p>data-amount="<%= (@event_hash['event'].price * 100.0) %>"</p>
    <%= form_tag event_charges_path do %>
      <% if !@stripe_customer_hash['stripe_customer'].nil? && @stripe_customer_hash['stripe_customer'].stripe_token %>
        <%= submit_tag 'Payer avec votre compte Stripe' %>
      <% else %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          <!-- script qui affiche un bouton, et contient diverses informations : -->
          <!-- Checkout displays a credit card overlay form, performs basic validation, and reports errors inline. -->
          <!-- Le formulaire de paiement s’affiche après avoir cliqué sur le bouton de paiement. Il demande à l’utilisateur de renseigner son email, son numéro de carte bleue, la date d’expiration ainsi que le code de vérification à 3 chiffres de la carte. -->
          <!-- 1. Une clé data-key dont l’authenticité est vérifiée par Stripe lors du paiement -->
          data-key="<%= Rails.configuration.stripe[:stripe_publishable_key] %>"
          <!-- 2. Une description data-description qui est le titre du formulaire de paiement -->
          data-description="Achat d'une participation à l'événement"
          <!-- 3. Un montant data-amount en cents qui est affiché dans le formulaire de paiement -->
          data-amount="<%= (@event_hash['event'].price * 100.0) %>"
          <!-- 4. Une personnalisation data-currency de la monnaie affichée dans le formulaire de paiement. Par défaut, Stripe utilise le $usd. -->
          data-currency="eur"
          <!-- 5. La variable data-locale est la langue dans laquelle le formulaire de paiement est présenté. La valeur par défaut de cette variable est auto, ce qui correspond à la langue locale de l’ordinateur de l’utilisateur. Pour changer de langue, remplacez cette valeur par la langue correspondante, par exemple "fr" pour le Français. -->
          data-locale="auto">
        </script>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">
    <p>aucun événement de n°<%= @event_hash['index'] %> n'existe dans la base!</p>
  </div>
<% end %>
